    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header {
        overflow: hidden;
        background-color: #3E5148;
        padding: 20px 10px;
        font-family: "Raleway", sans-serif;
      }
    .header a {
        float: left;
        color: #F0EADB;
        text-align: center;
        padding: 12px;
        margin-top: 25px;
        text-decoration: none;
        font-size: 22px;
        line-height: 25px;
        border-radius: 4px;
    }   
      .header-right {
        float: right;
    }
    .header a:hover {
        background-color: #ddd;
        color: black;
    }
    
    
    
    
    html {
        scroll-behavior: smooth;
    }        
    .section{
        background-color: #3E5148;
        font-family: "Raleway", sans-serif;
        transition: opacity 0.5s ease-out;
        padding-bottom: 200px;
    }
    #about{
        background-color: #A2813A;
        font-family: "Raleway", sans-serif;
    }
    #help{
        background-color: #8FBFCA;
        padding-bottom: 200px;
        padding-top: 200px;
        font-family: "Raleway", sans-serif;
    }
    .logo {
        margin-top: 10px;
        margin-left: 10px;
        width: 170px;
        border-radius: 10px;
    }
    .left{
        text-align: left;
        margin-right: auto;
        width: 40%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .rightvir {
        text-align: right;
        width: 40%;
        margin-left: auto;
        margin-top: 200px;
    }
    .right {
        text-align: right;
        width: 40%;
        margin-left: auto;
        
    }
    h1 {
        text-align: center;
        color: #F0EADB;
        padding: 40px;
    }
    h2{
        color: #F0EADB;
        font-weight: normal;
        padding: 60px;
    }
    .to-top {
        background: white;
        position: fixed;
        bottom: 16px;
        right:32px;
        width:50px;
        height:50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:32px;
        color:#1f1f1f;
        text-decoration: none;
        opacity:0;
        pointer-events: none;
        transition: all .4s;
      }
      
      .to-top.active {
        bottom:32px;
        pointer-events: auto;
        opacity:1;
      }
      .container{
        display:grid;
        place-items:center;
        cursor:pointer;
        padding:2rem;
        background:#3E5148;
        border-radius: 0%;
        transition:all 0.3s ease-in;
        
      }
      .container .fas{
        display:grid;
        place-items:center;
        font-size:4rem;
        color:gray;
      }
      
      .container:active .fas{
        color:#000000;
      }