#game-container {
    width: 600px;
    height: 1000px;
    position: relative;
    background-color: #f0f0f0;
    margin: auto;
}
@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.pop-in {
    animation: popIn 0.5s;
}

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 100%; /* Adjust as necessary */
    }
}

.moving {
    position: absolute;
    animation: moveRight 2s infinite alternate;
}